.player {
    width: 480px;

    > div {
        padding: 12px;
        margin: 12px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        @include box-shadow(0 0 8px #ccc);
    }

    .player__visual {
        .visualization {}
        .info {}
    }

    .player__control {

        .progress-bar {
            margin-top: 12px;
            width: 100%;
            height: 12px;
            background-color: #ccc;
            border-radius: 12px;
            cursor: pointer;
            overflow: hidden;

            span {
                display: inline-block;
                width: 0;
                height: 12px;
                background-color: green;
                // border-radius: 12px;
            }
        }
    }

    .player__upload {

        .dropzone {
            margin-top: 12px;
            background-color: #ccc;
            height: 60px;
        }
    }

    .player__playlist {

    }

}

.footer {
    position: relative;
    clear: both;
    height: 50px;
    margin-top: -50px;

    .footer__copyright {
        font-size: 12px;
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
        vertical-align: bottom;
        color: #aaa;
    }
}