@font-face {
  font-family: 'Circe Regular';
  src: url("./fonts/circe-regular.eot");
  src: url("./fonts/circe-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/circe-regular.woff") format("woff"), url("./fonts/circe-regular.ttf") format("truetype"), url("./fonts/circe-regular.svg#Circe-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, sass/_global.scss */
html, body {
  height: 100%;
  min-width: 1040px;
}

/* line 17, sass/_global.scss */
.wrapper {
  font-family: 'Circe Regular', Helvetica, sans-serif;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  padding: 24px;
}

/* line 25, sass/_global.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 29, sass/_global.scss */
a {
  color: black;
  text-decoration: none;
}
/* line 33, sass/_global.scss */
a:hover {
  color: #ff6733;
}

/* line 38, sass/_global.scss */
.clearfix {
  display: table;
  clear: both;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain) */
/* line 17, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, sass/_reset.scss */
body {
  line-height: 1;
}

/* line 33, sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 55, sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, sass/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, sass/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 113, sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, sass/_normalize.scss */
body {
  margin: 0;
}

/* line 132, sass/_normalize.scss */
a {
  background: transparent;
}
/* line 139, sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 236, sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 271, sass/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 287, sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, sass/_normalize.scss */
img {
  border: 0;
}

/* line 359, sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 414, sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, sass/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 436, sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 451, sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 462, sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 507, sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 517, sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 1, sass/_general.scss */
label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-callout: none;
  width: 140px;
  height: 30px;
  text-align: center;
  color: #424d71;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  line-height: 1.6;
  font-size: 19px;
  float: left;
  border: 1px inset #ddd;
  background: #d0d0d0;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
/* line 18, sass/_general.scss */
label:first-of-type {
  border-radius: 3px 0px 0px 3px;
}
/* line 22, sass/_general.scss */
label:last-of-type {
  border-radius: 0px 3px 3px 0px;
}

/* line 27, sass/_general.scss */
input[type=checkbox] {
  display: none;
}

/* line 33, sass/_general.scss */
input.input-all:checked ~ label.label-all,
input.input-arrival:checked ~ label.label-arrival,
input.input-departure:checked ~ label.label-departure {
  color: #999;
  background-color: #f5f5f5;
  background-repeat: repeat-x;
  border: 1px outset #e6e6e6;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* line 43, sass/_general.scss */
input.input-arrival:checked ~ table tr.departure,
input.input-departure:checked ~ table tr.arrival {
  display: none;
}

/* line 47, sass/_general.scss */
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  padding: 0 24px;
}

/* line 56, sass/_general.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  z-index: 1;
  margin: 32px 0 52px;
  width: 100%;
}
/* line 65, sass/_general.scss */
table thead td {
  width: 200px;
  background-color: lavender;
}
/* line 72, sass/_general.scss */
table tr:nth-child(odd):not([style*='display: none']) {
  background-color: rgba(255, 220, 150, 0.2);
}
/* line 76, sass/_general.scss */
table td, table .row, table .col {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  position: relative;
  border: 1px solid #ddd;
}
/* line 84, sass/_general.scss */
table td {
  width: 200px;
}
/* line 86, sass/_general.scss */
table tbody td:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
  height: 100%;
  left: -5000px;
  position: absolute;
  top: 0;
  width: 10000px;
  z-index: -1;
}
/* line 97, sass/_general.scss */
table td:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

/* line 109, sass/_general.scss */
.footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
}
/* line 115, sass/_general.scss */
.footer .footer__copyright {
  text-align: center;
  vertical-align: bottom;
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 12px;
  color: #aaa;
}
