/* Tablets */
@media screen and (min-width: 640px) and (max-width: 1024px) {
    .board__item--company { display: none; }
    .board__item--comment { display: none; }
    .board__item--aircraft span:before { content: attr(data-short)!important; }
}
/* Mobile */
@media screen and (max-width: 640px) {
    .board__item--type { width: 60px!important; }
    .board__item--number { width: 60px!important; }
    .board__item--aircraft { display: none; }
    .board__item--company { display: none; }
    .board__item--status { display: none; }
    .board__item--comment { display: none; }

    .board__item--aircraft span:before { content: attr(data-short)!important; }

    .wrapper { padding: 24px 4px; }

    .popup__content { width: 100%!important; }
}