.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 5;
    @include transition(opacity 0.2s ease-in-out);

    &:target {
        pointer-events: all;
        opacity: 1;
        @include transition (opacity 0.2s ease-in-out);

        .popup__content {
            @include transition (all 0.2s ease-in-out);
            @include transform(translateY(0));
        }
    }

    .popup__overlay {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(20,20,20,.9);
        @include transition (opacity 0.2s ease-in-out);
    }

    .popup__content {
        position: relative;
        background-color: white;
        font-size: 16px;
        margin: auto;
        padding: 12px;
        padding-bottom: 42px;
        width: 80%;
        @include transition (all 0.2s ease-in-out);
        @include transform(translateY(-100%));
        
        span { display: inline-block; }
        div { margin-bottom: 24px; }

        .params-list li {
            margin-bottom: 16px;

            &:last-of-type { margin: 0; }
        }

        .params-list__title {
            width: 40%;
            margin-right: 6px;
            text-align: right;
            font-weight: bold;
            text-decoration: underline;
            vertical-align: top;
        }

        .params-list__value {
            width: 40%;
            text-align: left;
        }
    }

    .popup__close {
        position: absolute;
        top: 2%;
        right: 2%;
    }
}